# Default ignored files
/../../Plague Inc./.idea/shelf/
/../../Plague Inc./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Plague Inc./.idea/httpRequests/
# Datasource local storage ignored files
/../../Plague Inc./.idea/dataSources/
/../../Plague Inc./.idea/dataSources.local.xml
